@import './vars.css';
/** {*/
  /*background-color: rgba(12,34,123,.05);*/
  /*border: 1px solid rgba(0,0,0,.1);*/
/*}*/

body {
  color: var(--black);
  font-family: 'Quattrocento', serif;
}

h1,h2,h3,h4,h5,h6 {
  font-family: 'Oswald', sans-serif;
}

a {
  color: var(--red);
}


/*Text Colors*/
.text-white {
  color: var(--white);
}
.text-red {
  color: var(--red);
}
.text-green {
  color: var(--green);
}



/* Header
-------------------------------------*/
.site-header {
  background-image: url('../bg--blue-mag.jpg');
  color: var(--white);
}

/* Section 1
-------------------------------------*/
.section-1 {
  background-color: var(--lightGrey);
}

/* Section 2
-------------------------------------*/
.speaker-img {
  background-color: var(--lightGreen);
}

/* Section 4
-------------------------------------*/
.section-4 {
  background-color: var(--lightBlue);
}


/* Section 7
-------------------------------------*/
.section-7 {
  background-color: var(--red);
  color: var(--white);
}
.section-7 a {
  background-color: var(--white);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}