/*Flex Types*/
.flex-row {
  flex-direction: row;
}

.flex-column {
  flex-direction: column;
}

.flex-space-around {
  justify-content: space-around;
}

.flex-space-between {
  justify-content: space-between;
}

.flex-start {
  justify-content: flex-start;
}

.flex-center {
  justify-content: center;
}

.flex-end {
  justify-content: flex-end;
}

.flex-middle {
  align-items: center;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-nowrap {
  flex-wrap: nowrap;
}

/*Floats*/
.float-left {
  float: left;
}

.float-right {
  float: right;
}

@media only screen and (min-width: var(--medium)) {

  .flex-m {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .flex-row-m {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
  }

  .flex-column-m {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .flex-space-around-m {
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }

  .flex-space-between-m {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  .flex-start-m {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }

  .flex-center-m {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .flex-end-m {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
  }

  .flex-wrap-m {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .flex-nowrap-m {
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
  }

  .float-left-m {
    float: left;
  }

  .float-right-m {
    float: right;
  }
}


@media only screen and (min-width: var(--large)) {

  .flex-l {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .flex-row-l {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
  }

  .flex-column-l {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .flex-space-around-l {
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }

  .flex-space-between-l {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  .flex-start-l {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }

  .flex-center-l {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .flex-end-l {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
  }

  .flex-wrap-l {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .flex-nowrap-l {
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
  }
}