/*Grid
--------------------------------*/
.container {
  display: table;
  height: 100%;
  overflow: hidden;
  position: relative;
  table-layout: fixed;
  width: 100%;
}

.wrap {
  display: table-cell;
  overflow: hidden;
  vertical-align: middle;
}



.container .wrap:not(.noSpaces), .container .wrap.spaceWrap,
.container .wrap .spaceWrap {
  padding: calc(2% + 15px) calc(2% + 15px);
}
@media (min-width: var(--medium)) {
  .container .wrap:not(.noSpaces), .container .wrap.spaceWrap,
  .container .wrap .spaceWrap {
    padding: calc(2% + 50px) calc(8% + 15px);
  }
}


.container .wrap .overflowHidden {
  overflow: hidden;
}

.container .wrap * {
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
}

.fix-1-12 {
  max-width: 8.333333333% !important;
}

.fix-2-12 {
  max-width: 16.666666666% !important;
}

.fix-3-12 {
  max-width: 24.999999999% !important;
}

.fix-4-12 {
  max-width: 33.333333332% !important;
}

.fix-5-12 {
  max-width: 41.666666665% !important;
}

.fix-6-12 {
  max-width: 49.999999998% !important;
}

.fix-7-12 {
  max-width: 58.333333331% !important;
}

.fix-8-12 {
  max-width: 66.666666664% !important;
}

.fix-9-12 {
  max-width: 74.999999997% !important;
}

.fix-10-12 {
  max-width: 83.33333333% !important;
}

.fix-11-12 {
  max-width: 91.666666663% !important;
}

.fix-12-12 {
  max-width: 99.999999996% !important;
}

[class*='fix-'] {
  float: none;
  margin-left: auto !important;
  margin-right: auto !important;
  padding-left: 2%;
  padding-right: 2%;
  width: 100% !important;
}

.toLeft,
.toLeft[class*='fix-'] {
  margin-left: 0 !important;
  margin-right: auto !important;
}

.toRight,
.toRight[class*='fix-'] {
  margin-right: 0 !important;
  margin-left: auto !important;
  float: right;
}

.toCenter {
  margin-left: auto !important;
  margin-right: auto !important;
}

.grid {
  margin-left: auto;
  margin-right: auto;
  /* default spaces */
}

.grid [class*='col-'] {
  width: 100%;
  padding-left: 2%;
  padding-right: 2%;
  float: left;
}

.grid.fixedSpaces {
  margin-left: -10px;
  margin-right: -10px;
}

.grid.fixedSpaces > [class*='col-'] {
  padding-left: 10px;
  padding-right: 10px;
}

.grid.noSpaces {
  margin-left: 0;
  margin-right: 0;
}

.grid.noSpaces > [class*='col-'] {
  padding-left: 0;
  padding-right: 0;
}

.grid .toLeft[class*='col-'] {
  margin-left: 0 !important;
  margin-right: auto !important;
}

.grid .toRight[class*='col-'] {
  margin-right: 0 !important;
  margin-left: auto !important;
  float: right;
}

.grid .toCenter[class*='col-'] {
  margin-left: auto !important;
  margin-right: auto !important;
}

/*----------------------------------------------------------------- end grid normal - no media query*/

.grid > [class*='col-'] {
  max-width: 100%;
}

.grid > .col-s-1-2 {
  max-width: 50% !important;
}

.grid > .col-s-1-3 {
  max-width: 33.33333333% !important;
}

.grid > .col-s-2-3 {
  max-width: 66.66666666% !important;
}


/* phablet landscape and ipad portrait and > */
@media (min-width: var(--medium)) {

  .grid > .col-m-1-1 {
    max-width: 100% !important;
  }

  .grid > .col-m-1-2 {
    max-width: 50% !important;
  }

  .grid > .col-m-1-3 {
    max-width: 33.33333333% !important;
  }

  .grid > .col-m-1-4 {
    max-width: 25% !important;
  }

  .grid > .col-m-3-4 {
    max-width: 75% !important;
  }
}

@media (min-width: var(--medium)) {

  .grid > .col-1-12 {
    max-width: 8.33333%;
  }

  .grid > .col-2-12 {
    max-width: 16.66667%;
  }

  .grid > .col-3-12 {
    max-width: 25%;
  }

  .grid > .col-4-12 {
    max-width: 33.33333%;
  }

  .grid > .col-5-12 {
    max-width: 41.66667%;
  }

  .grid > .col-6-12 {
    max-width: 50%;
  }

  .grid > .col-7-12 {
    max-width: 58.33333%;
  }

  .grid > .col-8-12 {
    max-width: 66.66667%;
  }

  .grid > .col-9-12 {
    max-width: 75%;
  }

  .grid > .col-10-12 {
    max-width: 83.33333%;
  }

  .grid > .col-11-12 {
    max-width: 91.66667%;
  }

  .grid > .col-12-12 {
    max-width: 100%;
  }

  .grid > .col-1-10 {
    max-width: 10%;
  }

  .grid > .col-2-10 {
    max-width: 20%;
  }

  .grid > .col-3-10 {
    max-width: 30%;
  }

  .grid > .col-4-10 {
    max-width: 40%;
  }

  .grid > .col-5-10 {
    max-width: 50%;
  }

  .grid > .col-6-10 {
    max-width: 60%;
  }

  .grid > .col-7-10 {
    max-width: 70%;
  }

  .grid > .col-8-10 {
    max-width: 80%;
  }

  .grid > .col-9-10 {
    max-width: 90%;
  }

  .grid > .col-10-10 {
    max-width: 100%;
  }

  .grid + .grid {
    margin-top: 20px;
  }

  .grid:after {
    content: "";
    display: table;
    clear: both;
  }
}







/* ipad landscape and > */
@media (min-width: var(--xlarge)) {
  .grid > .col-l-1-1 {
    max-width: 100% !important;
  }

  .grid > .col-l-1-2 {
    max-width: 50% !important;
  }

  .grid > .col-l-1-3 {
    max-width: 33.33333333% !important;
  }

  .grid > .col-l-2-3 {
    max-width: 66.66666666% !important;
  }

  .grid > .col-l-1-4 {
    max-width: 25% !important;
  }

  .grid > .col-l-3-4 {
    max-width: 75% !important;
  }
}





/*==========================================================================*/
/* Welcome new Grid! */
.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-left: -2%;
  margin-right: -2%;
  /* default spaces */
  /* alignments */
}

.flex > [class*='col-'] {
  padding-left: 2%;
  padding-right: 2%;
}

.flex.fixedSpaces {
  margin-left: -14px;
  margin-right: -14px;
}

.flex.fixedSpaces > [class*='col-'] {
  padding-left: 14px;
  padding-right: 14px;
}

.flex > .noSpaces {
  margin-left: 0;
  margin-right: 0;
}

.flex > .noSpaces > [class*='col-'] {
  padding-left: 0;
  padding-right: 0;
}

.flex.vertical-center {
  align-items: center;
}

.flex.reverse {
  flex-wrap: wrap-reverse;
}

.flex.bottom [class*='col-'], .flex.reverse.top [class*='col-'] {
  align-self: flex-end;
}

.flex.top [class*='col-'], .flex.reverse.bottom [class*='col-'] {
  align-self: flex-start;
}

.flex > [class*='col-'] {
  width: 100%;
}

.flex > .col-s-1-1 {
  width: 100% !important;
}

.flex > .col-s-1-2 {
  width: 50% !important;
}

.flex > .col-s-1-3 {
  width: 33.33333333% !important;
}

.flex > .col-s-2-3 {
  width: 66.66666666% !important;
}

@media (min-width: var(--large)) {
  .flex > .col-1-12 {
    width: 8.33333%;
  }

  .flex > .col-2-12 {
    width: 16.66667%;
  }

  .flex > .col-3-12 {
    width: 25%;
  }

  .flex > .col-4-12 {
    width: 33.33333%;
  }

  .flex > .col-5-12 {
    width: 41.66667%;
  }

  .flex > .col-6-12 {
    width: 50%;
  }

  .flex > .col-7-12 {
    width: 58.33333%;
  }

  .flex > .col-8-12 {
    width: 66.66667%;
  }

  .flex > .col-9-12 {
    width: 75%;
  }

  .flex > .col-10-12 {
    width: 83.33333%;
  }

  .flex > .col-11-12 {
    width: 91.66667%;
  }

  .flex > .col-12-12 {
    width: 100%;
  }

  .flex > .col-1-10 {
    width: 10%;
  }

  .flex > .col-2-10 {
    width: 20%;
  }

  .flex > .col-3-10 {
    width: 30%;
  }

  .flex > .col-4-10 {
    width: 40%;
  }

  .flex > .col-5-10 {
    width: 50%;
  }

  .flex > .col-6-10 {
    width: 60%;
  }

  .flex > .col-7-10 {
    width: 70%;
  }

  .flex > .col-8-10 {
    width: 80%;
  }

  .flex > .col-9-10 {
    width: 90%;
  }

  .flex > .col-10-10 {
    width: 100%;
  }

}

/* ipad landscape and > */
@media (min-width: var(--xlarge)) {

  .flex > .col-m-1-1 {
    width: 100% !important;
  }

  .flex > .col-m-1-2 {
    width: 50% !important;
  }

  .flex > .col-m-1-3 {
    width: 33.33333333% !important;
  }

  .flex > .col-m-2-3 {
    width: 66.66666666% !important;
  }

  .flex > .col-m-1-4 {
    width: 25% !important;
  }

  .flex > .col-m-3-4 {
    width: 75% !important;
  }

  .flex > .col-m-1-5 {
    width: 20% !important;
  }

  .flex > .col-m-2-5 {
    width: 40% !important;
  }

  .flex > .col-m-3-5 {
    width: 60% !important;
  }

  .flex > .col-m-4-5 {
    width: 80% !important;
  }
}

/* phablet landscape and ipad portrait and > */
@media (min-width: var(--medium)) {

  .flex > .col-m-1-1 {
    width: 100% !important;
  }

  .flex > .col-m-1-2 {
    width: 50% !important;
  }

  .flex > .col-m-1-3 {
    width: 33.33333333% !important;
  }

  .flex > .col-m-2-3 {
    width: 66.66666666% !important;
  }

  .flex > .col-m-1-4 {
    width: 25% !important;
  }

  .flex > .col-m-3-4 {
    width: 75% !important;
  }
}
