/* Margin helpers */
.m-auto {
  margin: auto;
}

.m-0 {
  margin: 0;
}

.m-5 {
  margin: 5px;
}

.m-10 {
  margin: 10px;
}

.m-15 {
  margin: 15px;
}

.m-20 {
  margin: 20px;
}

.m-25 {
  margin: 25px;
}

.m-30 {
  margin: 30px;
}

.m-35 {
  margin: 35px;
}

.m-40 {
  margin: 40px;
}

.m-45 {
  margin: 45px;
}

.m-50 {
  margin: 50px;
}

.m-55 {
  margin: 55px;
}

.m-60 {
  margin: 60px;
}

.mt-0 {
  margin-top: 0;
}

.mt-5 {
  margin-top: 5px;
}

.mt-10 {
  margin-top: 10px;
}

.mt-15 {
  margin-top: 15px;
}

.mt-20 {
  margin-top: 20px;
}

.mt-25 {
  margin-top: 25px;
}

.mt-30 {
  margin-top: 30px;
}

.mt-35 {
  margin-top: 35px;
}

.mt-40 {
  margin-top: 40px;
}

.mt-45 {
  margin-top: 45px;
}

.mt-50 {
  margin-top: 50px;
}

.mt-55 {
  margin-top: 55px;
}

.mt-60 {
  margin-top: 60px;
}

.mt-70 {
  margin-top: 70px;
}

.mt-80 {
  margin-top: 80px;
}

.mt-90 {
  margin-top: 90px;
}

.mb-0 {
  margin-bottom: 0;
}

.mb-5 {
  margin-bottom: 5px;
}

.mb-10 {
  margin-bottom: 10px;
}

.mb-15 {
  margin-bottom: 15px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-25 {
  margin-bottom: 25px;
}

.mb-30 {
  margin-bottom: 30px;
}

.mb-35 {
  margin-bottom: 35px;
}

.mb-40 {
  margin-bottom: 40px;
}

.mb-45 {
  margin-bottom: 45px;
}

.mb-50 {
  margin-bottom: 50px;
}

.mb-55 {
  margin-bottom: 55px;
}

.mb-60 {
  margin-bottom: 60px;
}

.ml-0 {
  margin-left: 0;
}

.ml-5 {
  margin-left: 5px;
}

.ml-10 {
  margin-left: 10px;
}

.ml-15 {
  margin-left: 15px;
}

.ml-20 {
  margin-left: 20px;
}

.ml-25 {
  margin-left: 25px;
}

.ml-30 {
  margin-left: 30px;
}

.ml-35 {
  margin-left: 35px;
}

.ml-40 {
  margin-left: 40px;
}

.ml-45 {
  margin-left: 45px;
}

.ml-50 {
  margin-left: 50px;
}

.ml-55 {
  margin-left: 55px;
}

.ml-60 {
  margin-left: 60px;
}

.mr-0 {
  margin-right: 0;
}

.mr-5 {
  margin-right: 5px;
}

.mr-10 {
  margin-right: 10px;
}

.mr-15 {
  margin-right: 15px;
}

.mr-20 {
  margin-right: 20px;
}

.mr-25 {
  margin-right: 25px;
}

.mr-30 {
  margin-right: 30px;
}

.mr-35 {
  margin-right: 35px;
}

.mr-40 {
  margin-right: 40px;
}

.mr-45 {
  margin-right: 45px;
}

.mr-50 {
  margin-right: 50px;
}

.mr-55 {
  margin-right: 55px;
}

.mr-60 {
  margin-right: 60px;
}



@media only screen and (min-width: var(--medium)) {

  .m-0-m {
    margin: 0;
  }

  .m-5-m {
    margin: 5px;
  }

  .m-10-m {
    margin: 10px;
  }

  .m-15-m {
    margin: 15px;
  }

  .m-20-m {
    margin: 20px;
  }

  .m-25-m {
    margin: 25px;
  }

  .m-30-m {
    margin: 30px;
  }

  .m-35-m {
    margin: 35px;
  }

  .m-40-m {
    margin: 40px;
  }

  .m-45-m {
    margin: 45px;
  }

  .m-50-m {
    margin: 50px;
  }

  .m-55-m {
    margin: 55px;
  }

  .m-60-m {
    margin: 60px;
  }

  .mt-0-m {
    margin-top: 0;
  }

  .mt-5-m {
    margin-top: 5px;
  }

  .mt-10-m {
    margin-top: 10px;
  }

  .mt-15-m {
    margin-top: 15px;
  }

  .mt-20-m {
    margin-top: 20px;
  }

  .mt-25-m {
    margin-top: 25px;
  }

  .mt-30-m {
    margin-top: 30px;
  }

  .mt-35-m {
    margin-top: 35px;
  }

  .mt-40-m {
    margin-top: 40px;
  }

  .mt-45-m {
    margin-top: 45px;
  }

  .mt-50-m {
    margin-top: 50px;
  }

  .mt-55-m {
    margin-top: 55px;
  }

  .mt-60-m {
    margin-top: 60px;
  }

  .mt-70-m {
    margin-top: 70px;
  }

  .mt-80-m {
    margin-top: 80px;
  }

  .mt-90-m {
    margin-top: 90px;
  }

  .mb-0-m {
    margin-bottom: 0;
  }

  .mb-5-m {
    margin-bottom: 5px;
  }

  .mb-10-m {
    margin-bottom: 10px;
  }

  .mb-15-m {
    margin-bottom: 15px;
  }

  .mb-20-m {
    margin-bottom: 20px;
  }

  .mb-25-m {
    margin-bottom: 25px;
  }

  .mb-30-m {
    margin-bottom: 30px;
  }

  .mb-35-m {
    margin-bottom: 35px;
  }

  .mb-40-m {
    margin-bottom: 40px;
  }

  .mb-45-m {
    margin-bottom: 45px;
  }

  .mb-50-m {
    margin-bottom: 50px;
  }

  .mb-55-m {
    margin-bottom: 55px;
  }

  .mb-60-m {
    margin-bottom: 60px;
  }

  .ml-0-m {
    margin-left: 0;
  }

  .ml-5-m {
    margin-left: 5px;
  }

  .ml-10-m {
    margin-left: 10px;
  }

  .ml-15-m {
    margin-left: 15px;
  }

  .ml-20-m {
    margin-left: 20px;
  }

  .ml-25-m {
    margin-left: 25px;
  }

  .ml-30-m {
    margin-left: 30px;
  }

  .ml-35-m {
    margin-left: 35px;
  }

  .ml-40-m {
    margin-left: 40px;
  }

  .ml-45-m {
    margin-left: 45px;
  }

  .ml-50-m {
    margin-left: 50px;
  }

  .ml-55-m {
    margin-left: 55px;
  }

  .ml-60-m {
    margin-left: 60px;
  }

  .mr-0-m {
    margin-right: 0;
  }

  .mr-5-m {
    margin-right: 5px;
  }

  .mr-10-m {
    margin-right: 10px;
  }

  .mr-15-m {
    margin-right: 15px;
  }

  .mr-20-m {
    margin-right: 20px;
  }

  .mr-25-m {
    margin-right: 25px;
  }

  .mr-30-m {
    margin-right: 30px;
  }

  .mr-35-m {
    margin-right: 35px;
  }

  .mr-40-m {
    margin-right: 40px;
  }

  .mr-45-m {
    margin-right: 45px;
  }

  .mr-50-m {
    margin-right: 50px;
  }

  .mr-55-m {
    margin-right: 55px;
  }

  .mr-60-m {
    margin-right: 60px;
  }

}


@media only screen and (min-width: var(--large)) {
  .m-0-l {
    margin: 0;
  }

  .m-5-l {
    margin: 5px;
  }

  .m-10-l {
    margin: 10px;
  }

  .m-15-l {
    margin: 15px;
  }

  .m-20-l {
    margin: 20px;
  }

  .m-25-l {
    margin: 25px;
  }

  .m-30-l {
    margin: 30px;
  }

  .m-35-l {
    margin: 35px;
  }

  .m-40-l {
    margin: 40px;
  }

  .m-45-l {
    margin: 45px;
  }

  .m-50-l {
    margin: 50px;
  }

  .m-55-l {
    margin: 55px;
  }

  .m-60-l {
    margin: 60px;
  }

  .mt-0-l {
    margin-top: 0;
  }

  .mt-5-l {
    margin-top: 5px;
  }

  .mt-10-l {
    margin-top: 10px;
  }

  .mt-15-l {
    margin-top: 15px;
  }

  .mt-20-l {
    margin-top: 20px;
  }

  .mt-25-l {
    margin-top: 25px;
  }

  .mt-30-l {
    margin-top: 30px;
  }

  .mt-35-l {
    margin-top: 35px;
  }

  .mt-40-l {
    margin-top: 40px;
  }

  .mt-45-l {
    margin-top: 45px;
  }

  .mt-50-l {
    margin-top: 50px;
  }

  .mt-55-l {
    margin-top: 55px;
  }

  .mt-60-l {
    margin-top: 60px;
  }

  .mt-70-l {
    margin-top: 70px;
  }

  .mt-80-l {
    margin-top: 80px;
  }

  .mt-90-l {
    margin-top: 90px;
  }

  .mb-0-l {
    margin-bottom: 0;
  }

  .mb-5-l {
    margin-bottom: 5px;
  }

  .mb-10-l {
    margin-bottom: 10px;
  }

  .mb-15-l {
    margin-bottom: 15px;
  }

  .mb-20-l {
    margin-bottom: 20px;
  }

  .mb-25-l {
    margin-bottom: 25px;
  }

  .mb-30-l {
    margin-bottom: 30px;
  }

  .mb-35-l {
    margin-bottom: 35px;
  }

  .mb-40-l {
    margin-bottom: 40px;
  }

  .mb-45-l {
    margin-bottom: 45px;
  }

  .mb-50-l {
    margin-bottom: 50px;
  }

  .mb-55-l {
    margin-bottom: 55px;
  }

  .mb-60-l {
    margin-bottom: 60px;
  }

  .ml-0-l {
    margin-left: 0;
  }

  .ml-5-l {
    margin-left: 5px;
  }

  .ml-10-l {
    margin-left: 10px;
  }

  .ml-15-l {
    margin-left: 15px;
  }

  .ml-20-l {
    margin-left: 20px;
  }

  .ml-25-l {
    margin-left: 25px;
  }

  .ml-30-l {
    margin-left: 30px;
  }

  .ml-35-l {
    margin-left: 35px;
  }

  .ml-40-l {
    margin-left: 40px;
  }

  .ml-45-l {
    margin-left: 45px;
  }

  .ml-50-l {
    margin-left: 50px;
  }

  .ml-55-l {
    margin-left: 55px;
  }

  .ml-60-l {
    margin-left: 60px;
  }

  .mr-0-l {
    margin-right: 0;
  }

  .mr-5-l {
    margin-right: 5px;
  }

  .mr-10-l {
    margin-right: 10px;
  }

  .mr-15-l {
    margin-right: 15px;
  }

  .mr-20-l {
    margin-right: 20px;
  }

  .mr-25-l {
    margin-right: 25px;
  }

  .mr-30-l {
    margin-right: 30px;
  }

  .mr-35-l {
    margin-right: 35px;
  }

  .mr-40-l {
    margin-right: 40px;
  }

  .mr-45-l {
    margin-right: 45px;
  }

  .mr-50-l {
    margin-right: 50px;
  }

  .mr-55-l {
    margin-right: 55px;
  }

  .mr-60-l {
    margin-right: 60px;
  }
}