/*Padding Helpers*/
.px-0 {
  padding-left: 0;
  padding-right: 0;
}

.px-5 {
  padding-left: 5px;
  padding-right: 5px;
}

.px-10 {
  padding-left: 10px;
  padding-right: 10px;
}

.px-15 {
  padding-left: 15px;
  padding-right: 15px;
}

.px-20 {
  padding-left: 20px;
  padding-right: 20px;
}

.px-25 {
  padding-left: 25px;
  padding-right: 25px;
}

.px-30 {
  padding-left: 30px;
  padding-right: 30px;
}

.px-35 {
  padding-left: 35px;
  padding-right: 35px;
}

.px-40 {
  padding-left: 40px;
  padding-right: 40px;
}

.px-45 {
  padding-left: 45px;
  padding-right: 45px;
}

.px-50 {
  padding-left: 50px;
  padding-right: 50px;
}

.px-55 {
  padding-left: 55px;
  padding-right: 55px;
}

.px-60 {
  padding-left: 60px;
  padding-right: 60px;
}

@media (min-width: 767px) and (max-width: 1024px) {
  .py-m-0 {
    padding-bottom: 0 !important;
    padding-top: 0 !important;
  }
}
.py-0 {
  padding-bottom: 0;
  padding-top: 0;
}

.py-5 {
  padding-bottom: 5px;
  padding-top: 5px;
}

.py-10 {
  padding-bottom: 10px;
  padding-top: 10px;
}

.py-15 {
  padding-bottom: 15px;
  padding-top: 15px;
}

.py-20 {
  padding-bottom: 20px;
  padding-top: 20px;
}

.py-25 {
  padding-bottom: 25px;
  padding-top: 25px;
}

.py-30 {
  padding-bottom: 30px;
  padding-top: 30px;
}

.py-35 {
  padding-bottom: 35px;
  padding-top: 35px;
}

.py-40 {
  padding-bottom: 40px;
  padding-top: 40px;
}

.py-45 {
  padding-bottom: 45px;
  padding-top: 45px;
}

.py-50 {
  padding-bottom: 50px;
  padding-top: 50px;
}

.py-55 {
  padding-bottom: 55px;
  padding-top: 55px;
}

.py-60 {
  padding-bottom: 60px;
  padding-top: 60px;
}

.pt-0 {
  padding-top: 0 !important;
}

.pt-5 {
  padding-top: 5px;
}

.pt-10 {
  padding-top: 10px;
}

.pt-15 {
  padding-top: 15px;
}

.pt-20 {
  padding-top: 20px;
}

.pt-25 {
  padding-top: 25px;
}

.pt-30 {
  padding-top: 30px;
}

.pt-35 {
  padding-top: 35px;
}

.pt-40 {
  padding-top: 40px;
}

.pt-45 {
  padding-top: 45px;
}

.pt-50 {
  padding-top: 50px;
}

.pt-55 {
  padding-top: 55px;
}

.pt-60 {
  padding-top: 60px;
}

.pb-0 {
  padding-bottom: 0 !important;
}

.pb-5 {
  padding-bottom: 5px;
}

.pb-10 {
  padding-bottom: 10px;
}

.pb-15 {
  padding-bottom: 15px;
}

.pb-20 {
  padding-bottom: 20px;
}

.pb-25 {
  padding-bottom: 25px;
}

.pb-30 {
  padding-bottom: 30px;
}

.pb-35 {
  padding-bottom: 35px;
}

.pb-40 {
  padding-bottom: 40px;
}

.pb-45 {
  padding-bottom: 45px;
}

.pb-50 {
  padding-bottom: 50px;
}

.pb-55 {
  padding-bottom: 55px;
}

.pb-60 {
  padding-bottom: 60px;
}

.p-5 {
  padding: 5px;
}

.p-10 {
  padding: 10px;
}

.p-15 {
  padding: 15px;
}

.p-20 {
  padding: 20px;
}

.p-25 {
  padding: 25px;
}

.p-30 {
  padding: 30px;
}

.p-35 {
  padding: 35px;
}

.p-40 {
  padding: 40px;
}

.p-45 {
  padding: 45px;
}

.p-50 {
  padding: 50px;
}

.p-55 {
  padding: 55px;
}

.p-60 {
  padding: 60px;
}


@media only screen and (min-width: 767px) {

  .pt-0-m {
    padding-top: 0;
  }

  .pt-5-m {
    padding-top: 5px;
  }

  .pt-10-m {
    padding-top: 10px;
  }

  .pt-15-m {
    padding-top: 15px;
  }

  .pt-20-m {
    padding-top: 20px;
  }

  .pt-25-m {
    padding-top: 25px;
  }

  .pt-30-m {
    padding-top: 30px;
  }

  .pt-35-m {
    padding-top: 35px;
  }

  .pt-40-m {
    padding-top: 40px;
  }

  .pt-45-m {
    padding-top: 45px;
  }

  .pt-50-m {
    padding-top: 50px;
  }

  .pt-55-m {
    padding-top: 55px;
  }

  .pt-60-m {
    padding-top: 60px;
  }

  .pb-0-m {
    padding-bottom: 0;
  }

  .pb-5-m {
    padding-bottom: 5px;
  }

  .pb-10-m {
    padding-bottom: 10px;
  }

  .pb-15-m {
    padding-bottom: 15px;
  }

  .pb-20-m {
    padding-bottom: 20px;
  }

  .pb-25-m {
    padding-bottom: 25px;
  }

  .pb-30-m {
    padding-bottom: 30px;
  }

  .pb-35-m {
    padding-bottom: 35px;
  }

  .pb-40-m {
    padding-bottom: 40px;
  }

  .pb-45-m {
    padding-bottom: 45px;
  }

  .pb-50-m {
    padding-bottom: 50px;
  }

  .pb-55-m {
    padding-bottom: 55px;
  }

  .pb-60-m {
    padding-bottom: 60px;
  }

  .p-0-m {
    padding: 0;
  }

  .p-5-m {
    padding: 5px;
  }

  .p-10-m {
    padding: 10px;
  }

  .p-15-m {
    padding: 15px;
  }

  .p-20-m {
    padding: 20px;
  }

  .p-25-m {
    padding: 25px;
  }

  .p-30-m {
    padding: 30px;
  }

  .p-35-m {
    padding: 35px;
  }

  .p-40-m {
    padding: 40px;
  }

  .p-45-m {
    padding: 45px;
  }

  .p-50-m {
    padding: 50px;
  }

  .p-55-m {
    padding: 55px;
  }

  .p-60-m {
    padding: 60px;
  }
}


@media only screen and (min-width: 980px) {
  .pt-0-l {
    padding-top: 0;
  }

  .pt-5-l {
    padding-top: 5px;
  }

  .pt-10-l {
    padding-top: 10px;
  }

  .pt-15-l {
    padding-top: 15px;
  }

  .pt-20-l {
    padding-top: 20px;
  }

  .pt-25-l {
    padding-top: 25px;
  }

  .pt-30-l {
    padding-top: 30px;
  }

  .pt-35-l {
    padding-top: 35px;
  }

  .pt-40-l {
    padding-top: 40px;
  }

  .pt-45-l {
    padding-top: 45px;
  }

  .pt-50-l {
    padding-top: 50px;
  }

  .pt-55-l {
    padding-top: 55px;
  }

  .pt-60-l {
    padding-top: 60px;
  }

  .pb-0-l {
    padding-bottom: 0;
  }

  .pb-5-l {
    padding-bottom: 5px;
  }

  .pb-10-l {
    padding-bottom: 10px;
  }

  .pb-15-l {
    padding-bottom: 15px;
  }

  .pb-20-l {
    padding-bottom: 20px;
  }

  .pb-25-l {
    padding-bottom: 25px;
  }

  .pb-30-l {
    padding-bottom: 30px;
  }

  .pb-35-l {
    padding-bottom: 35px;
  }

  .pb-40-l {
    padding-bottom: 40px;
  }

  .pb-45-l {
    padding-bottom: 45px;
  }

  .pb-50-l {
    padding-bottom: 50px;
  }

  .pb-55-l {
    padding-bottom: 55px;
  }

  .pb-60-l {
    padding-bottom: 60px;
  }

  .p-0-l {
    padding: 0;
  }

  .p-5-l {
    padding: 5px;
  }

  .p-10-l {
    padding: 10px;
  }

  .p-15-l {
    padding: 15px;
  }

  .p-20-l {
    padding: 20px;
  }

  .p-25-l {
    padding: 25px;
  }

  .p-30-l {
    padding: 30px;
  }

  .p-35-l {
    padding: 35px;
  }

  .p-40-l {
    padding: 40px;
  }

  .p-45-l {
    padding: 45px;
  }

  .p-50-l {
    padding: 50px;
  }

  .p-55-l {
    padding: 55px;
  }

  .p-60-l {
    padding: 60px;
  }
}

