*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

html, button, input, select, textarea {
  font-family: inherit;
}

article, aside, details, figcaption, figure, footer, header, main, menu, nav, section, summary {
  display: block;
}

body, form, fieldset, legend, input, select, textarea, button {
  margin: 0;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

audio, canvas, progress, video {
  display: inline-block;
}

progress {
  vertical-align: baseline;
}

[hidden], template {
  display: none;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

body {
  font-size: 16px;
  font-size: 1rem;
  line-height: 22px;
  line-height: 1.375rem;
  font-weight: 400;
}

p {
  margin: 0 0 20px 0;
}

a {
  text-decoration: underline;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

a:active, a:hover {
  outline-width: 0;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6, nav {
  margin: 0;
}

figure {
  margin: 1em 40px;
}

hr, .hr {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  height: 1px;
  background: #eee;
  border: 0;
  margin-top: 20px;
  margin-bottom: 20px;
}

ul, ol {
  margin: 20px 0;
  padding: 0 0 0 40px;
}

dl:before, dl:after {
  content: " ";
  display: table;
}

dl:after {
  clear: both;
}

dl dt {
  float: left;
  width: 25%;
  display: block;
  font-weight: 400;
}

dl dd {
  overflow: hidden;
  display: block;
}

blockquote,
.blockquote {
  font-family: sans-serif;
  font-weight: 400;
  font-style: italic;
  margin: 20px 0;
}

blockquote p,
.blockquote p {
  font-size: 22px;
  font-size: 1.375rem;
  line-height: 28px;
  line-height: 1.75rem;
  margin-bottom: 20px;
}

blockquote cite,
.blockquote cite {
  font-size: 13px;
  font-size: 0.8125rem;
  line-height: 19px;
  line-height: 1.1875rem;
  font-weight: 700;
  font-style: normal;
}

caption {
  font-size: inherit;
  line-height: normal;
  font-weight: 700;
  text-align: left;
  padding: 10px;
  border-bottom: 1px solid #d7d7d7;
}
