h1, h2, h3, h4, h5, h6 {
  font-weight: 500;
  margin-bottom: 20px;
  margin-top: 0;
}

h1, .h1 {
  font-size: 2.986rem;
  line-height: 1.2;
}
h2, .h2 {
  font-size: 2.488rem;
  line-height: 1.25;
}
h3, .h3 {
  font-size: 2.074rem;
  line-height: 1.3;
}
h4, .h4 {
  font-size: 1.728rem;
  line-height: 1.35;
}
h5, .h5 {
  font-size: 1.44rem;
  line-height: 1.5;
}
h6, .h6 {
  font-size: 1.2rem;
  line-height: 1.6;
}
p {
  font-size: 1rem;
  margin-bottom: 10px;
}

@media (max-width: var(--medium)) {
  h1, .h1 {
    font-size: 2.027rem;
  }
  h2, .h2 {
    font-size: 1.802rem;
  }
  h3, .h3 {
    font-size: 1.602rem;
  }
  h4, .h4 {
    font-size: 1.424rem;
  }
  h5, .h5 {
    font-size: 1.266rem;
  }
  h6, .h6 {
    font-size: 1.125rem;
  }
}


b, strong, .strong {
  font-weight: 700;
}

abbr[title], .abbr[title] {
  border-bottom: none;
  text-decoration: underline dotted;
}

dfn {
  font-style: italic;
}

small, .small {
  font-size: 75%;
}

mark, .mark {
  background-color: #ff0;
}

sub, .sub, sup, .sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub, .sub {
  bottom: -0.25vh;
}

sup, .sup {
  top: -0.5vh;
}

del, .del {
  text-decoration: line-through;
}