/* Not sure these are needed. Optional */
@media only screen and (min-width: var(--xlarge)) {
  .no-float-xl {
    float: none;
  }

  .no-padding-xl {
    padding: 0;
  }

  .no-margin-xl {
    margin: 0;
  }

  .relative-xl {
    position: relative;
  }

  .absolute-xl {
    position: absolute;
  }

  .static-xl {
    position: static;
  }

  .fixed-xl {
    position: fixed;
  }

  .none-xl {
    display: none;
  }

  .block-xl {
    display: block;
  }

  .inline-block-xl {
    display: inline-block;
  }

  .inline-xl {
    display: inline;
  }

  .flex-xl {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .flex-row-xl {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
  }

  .flex-column-xl {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .flex-space-around-xl {
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }

  .flex-space-between-xl {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  .flex-start-xl {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }

  .flex-center-xl {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .flex-end-xl {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
  }

  .flex-wrap-xl {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .flex-nowrap-xl {
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
  }

  .left-xl {
    float: left;
  }

  .right-xl {
    float: right;
  }

  .center-xl {
    float: none;
    margin-left: auto;
    margin-right: auto;
  }

  .text-left-xl {
    text-align: left;
  }

  .text-right-xl {
    text-align: right;
  }

  .text-center-xl {
    text-align: center;
  }

  .text-justify-xl {
    text-align: justify;
  }

  .no-col-xl {
    width: auto;
    float: none;
  }

  .no-push-xl, .no-pull-xl {
    left: 0;
  }

  .pt-0-xl {
    padding-top: 0;
  }

  .pt-5-xl {
    padding-top: 5px;
  }

  .pt-10-xl {
    padding-top: 10px;
  }

  .pt-15-xl {
    padding-top: 15px;
  }

  .pt-20-xl {
    padding-top: 20px;
  }

  .pt-25-xl {
    padding-top: 25px;
  }

  .pt-30-xl {
    padding-top: 30px;
  }

  .pt-35-xl {
    padding-top: 35px;
  }

  .pt-40-xl {
    padding-top: 40px;
  }

  .pt-45-xl {
    padding-top: 45px;
  }

  .pt-50-xl {
    padding-top: 50px;
  }

  .pt-55-xl {
    padding-top: 55px;
  }

  .pt-60-xl {
    padding-top: 60px;
  }

  .pb-0-xl {
    padding-bottom: 0;
  }

  .pb-5-xl {
    padding-bottom: 5px;
  }

  .pb-10-xl {
    padding-bottom: 10px;
  }

  .pb-15-xl {
    padding-bottom: 15px;
  }

  .pb-20-xl {
    padding-bottom: 20px;
  }

  .pb-25-xl {
    padding-bottom: 25px;
  }

  .pb-30-xl {
    padding-bottom: 30px;
  }

  .pb-35-xl {
    padding-bottom: 35px;
  }

  .pb-40-xl {
    padding-bottom: 40px;
  }

  .pb-45-xl {
    padding-bottom: 45px;
  }

  .pb-50-xl {
    padding-bottom: 50px;
  }

  .pb-55-xl {
    padding-bottom: 55px;
  }

  .pb-60-xl {
    padding-bottom: 60px;
  }

  .p-0-xl {
    padding: 0;
  }

  .p-5-xl {
    padding: 5px;
  }

  .p-10-xl {
    padding: 10px;
  }

  .p-15-xl {
    padding: 15px;
  }

  .p-20-xl {
    padding: 20px;
  }

  .p-25-xl {
    padding: 25px;
  }

  .p-30-xl {
    padding: 30px;
  }

  .p-35-xl {
    padding: 35px;
  }

  .p-40-xl {
    padding: 40px;
  }

  .p-45-xl {
    padding: 45px;
  }

  .p-50-xl {
    padding: 50px;
  }

  .p-55-xl {
    padding: 55px;
  }

  .p-60-xl {
    padding: 60px;
  }
}
